<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/style/form.css" />
    <title>Add Song</title>

    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    /> -->
  </head>
  <body>
    <h1>Add Song</h1>
    <div class="card">
      <div class="card-body">
        <form action="/adminsongs/add" method="post">
          <div class="form-group">
            <label>Song:</label>
            <input
              type="text"
              class="form-control"
              name="song"
              value="<%= song %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>Artist:</label>
            <input
              type="text"
              class="form-control"
              name="name"
              value="<%= name %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>Genre (Rock, Pop, Hip hop):</label>
            <input
              type="text"
              class="form-control"
              name="genre"
              value="<%= genre %>"
              autocomplete="off"
            />
          </div>
          <div class="form-group">
            <label>Rating (1-5):</label>
            <input
              type="text"
              class="form-control"
              name="rating"
              value="<%= rating %>"
              autocomplete="off"
            />
          </div>
          <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert">
            <%= messages.error %>
          </div>
          <% } %>
          <div class="form-group">
            <button>
              <input type="submit" class="btn btn-info" value="Add" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
